

    {% block head %}
        <title> Rocketseat - 404</title>
    {% endblock %}

    {% block container %}

        <div id="card">
            <h1>Nosso foguete foi ao infinito e não encontrou sua página 404 :'</h1>

        </div>

    {% endblock %}